<!-- Start: ChapterNavigator Generated Code Sample -->
<ul class="chapter-navigator">
    <li class="chapter-navigator-item-selected">
        <a href="#">{Chapter 1}</a>
    </li>
    <li class="chapter-navigator-item">
        <a href="#">{Chapter 2}</a>
    </li>
    <li class="chapter-navigator-item">
        <a href="#">{Chapter 3}</a>
    </li>
    <!-- ... -->
    <li class="chapter-navigator-item">
        <a href="#">{Chapter N}</a>
    </li>
</ul>
<!-- End: ChapterNavigator Generated Code Sample -->