<!-- Start: PlaylistNavigator Generated Code Sample -->
<ul class="playlist-navigator">
    <li class="playlist-navigator-item playlist-navigator-item-selected">
        <a href="#">{Video 1}</a>
    </li>
    <li class="playlist-navigator-item">
        <a href="#">{Video 2}</a>
    </li>
    <li class="playlist-navigator-item">
        <a href="#">{Video 3}</a>
    </li>
    <!-- ... -->
    <li class="playlist-navigator-item">
        <a href="#">{Video N}</a>
    </li>
</ul>
<!-- End: PlaylistNavigator Generated Code Sample -->