<!-- Start: ThumbnailNavigator Generated Code Sample -->
<div class="thumbnail-navigator">
    <img class="thumbnail-navigator-item selected" id="0" src="http://present.knowledgevision.com/account/demo11/assets/slides/Slide01_png@1386340240326/file/Slide01.png">
    <img class="thumbnail-navigator-item" id="2" src="http://present.knowledgevision.com/account/demo11/assets/slides/Slide01_png@1386340240326/file/Slide02.png">
    <img class="thumbnail-navigator-item" id="3" src="http://present.knowledgevision.com/account/demo11/assets/slides/Slide01_png@1386340240326/file/Slide03.png">
    <!-- ... -->
    <img class="thumbnail-navigator-item" id="N" src="http://present.knowledgevision.com/account/demo11/assets/slides/Slide01_png@1386340240326/file/Slide04.png">
</div>
<!-- End: ThumbnailNavigator Generated Code Sample -->